<div class="visitka-root root12">
  <div class="panel1"></div>
  <div class="panel2-1"></div>
  <div class="panel2-2"></div>

  <div class="fold-h1"></div>
  <div class="fold-h2"></div>
  <div class="fold-h3"></div>
  <div class="fold-h4"></div>
  <div class="fold-v1"></div>
  <div class="fold-v2"></div>
  <div class="cut-h"></div>
  <div class="cut-v1"></div>
  <div class="cut-v2"></div>
</div>
<br/>
<div class="visitka-root root12">
  <div class="panel34-1"></div>
  <div class="panel34-2"></div>
  <div class="panel3-1"></div>
  <div class="panel3-2"></div>
  <div class="panel4-1u"></div>
  <div class="panel4-2u"></div>
  <div class="panel4-3u"></div>
  <div class="panel4-1l"></div>
  <div class="panel4-2l"></div>
  <div class="panel4-3l"></div>
  <div class="glue-patch-a1">A</div>
  <div class="glue-patch-a2">A</div>
  <div class="glue-patch-b1">B</div>
  <div class="glue-patch-b2">B</div>
  <div class="glue-patch-c1">C</div>
  <div class="glue-patch-c2">C</div>
  <div class="glue-patch-d1">D</div>
  <div class="glue-patch-d2">D</div>
  <div class="fold-h1"></div>
  <div class="fold-h2"></div>
  <div class="fold-h3"></div>
  <div class="fold-h4"></div>
  <div class="fold-v1"></div>
  <div class="fold-v2"></div>
  <div class="cut-h"></div>
  <div class="cut-v1"></div>
  <div class="cut-v2"></div>
</div>